<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="{{ url_for('static', filename='js/login.js') }}" defer></script>
</head>

<body>
    <header class="Head">
        <div class="logo"><img height="220 px" width="500 px" src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo"></div>
    </header>

<main>

    <form id="loginForm" action="http://127.0.0.1:5000/check_login" method="post">
       <input type="text" name="username" id="login_username" placeholder="Username">
       <input type="password" name="password" id="login_password" placeholder="Password">
       <span id="login_password-err" class="error-msg" style="color: red; font-size: 12px; display: block;"></span>
        <button type="submit">Login</button>
        <div style="text-align: center; margin-top: 15px;">
    <span style="color: #ccc; font-size: 0.9em;">Don't have an account?</span>
    <a href="{{ url_for('signup_page') }}" style="color: #00ffff; text-decoration: none; font-weight: bold; font-size: 0.9em;"> Sign Up</a>
</div>
       
    </form>


</main>

</body>

</html>